# плейнтекстовый трек НЕ держим в репо (в публичный доступ уходит только зашифрованный track.enc)
assets/track.mp3
assets/track.mp4
assets/track.wav
assets/track.ogg

# служебное
.DS_Store
Thumbs.db
*.log
